<div class="rectangle-1 bg-blue">
    <div class="rectangle-chil d-flex-row row">
        <div class="d-flex-row col-9">
            <div><i class="dm-none fas fa-phone text-Orange f-12"></i></div>
            <div > 
                <span class="text-Orange f-12 fw-100">CONTACT 1:</span><br class="dbr-none">
                <span class="text-white f-12 fw-100"> 0387271786 (DUONG)</span></div>
            <div>
                <span class="text-Orange f-12 fw-100">CONTACT 2:</span><br class="dbr-none">
                <span class="text-white f-12 fw-100"> 0987900930(TRINH)</span></div>
            <div>
                <span class="text-Orange f-12 fw-100">KOREAN SUPPORT:</span><br class="dbr-none">
                <span class="text-white f-12 fw-100"> +82 10-2045-3645</span> 
            </div>
        </div>
        <div class="d-flex-end col-3">
            <div class="d-flex-center"> 
                <span class="text-Orange me-3 f-12 glyphicon glyphicon-home dm-none"></span>
                <span class="text-white f-12 fw-100">TÌM CHÚNG TÔI</span> 
            </div>
        </div>
    </div>
</div>
<div class="bg-orange dm-block">
    <div class="d-flex-center">
        <i class="fas fa-stream"></i>
    </div>
</div>
<div class="row">
<div class="rectangle-2 bg-white row">
    <div  class="rectangle-chil d-flex-row">
            <div class="col-6 dm-none ">
                <div class="d-flex-center">
                    <div class="dm-none" style="padding-right:10px;border-right: solid 1px #EBE6E6;">
                        <img src="../../assets/img/1-Frame.png" alt="Loading">
                    </div> 
                    <div class="dm-none d-flex-row">
                        <div class="icon-list">
                            <i class="f-12 text-white fas fa-ellipsis-v"></i>
                        </div>
                        <span class="text-black f-12 fw-bold">Danh mục sản phẩm</span>
                    </div>
                </div>
            </div>
        <div class="col-6 h-100">
            <div class="d-flex-row h-100 ">
                <span class="rectangle-tab f-12 fw-100" >Giới thiệu</span>
                <span class="rectangle-tab f-12 fw-100">Tài liệu 2D</span>
                <span class="rectangle-tab f-12 fw-100" >Tài liệu 3D</span>
                <span class="rectangle-tab f-12 fw-100">Tin tức</span>
                <span class="rectangle-tab f-12 fw-100">Tuyển dụng</span>
                <span class="rectangle-tab f-12 fw-100">Liên hệ</span>
             </div>
        </div>
    </div>
</div>
    <div class="col-12">
        <img class="img-fluid cover" src="../../assets/img/aa37cb4b2de6e4b8bdf7.jpg" alt="">
        
        <button class="d-arrow-none button-arrow button-position-left "><img src="../../assets/img/7Vector (1).png" alt=""></button>
        <button class=" d-arrow-none  button-arrow button-position-right "><img src="../../assets/img/8Vector (1).png" alt=""></button>
    </div>
</div>