<!-- <div style="display: flex;justify-content: center;padding: 50px 0;position: relative;">
    <div>
        <div>

        </div>
    </div>
    <div style="width: 60%;position: absolute;">
        <h3>Bài viết mới nhất</h3>
        <div style="display: flex;">
            <div style="width:50%;">

            </div>
            <div style="width:50%">
                <img class="img-fluid"src="../../assets/img/Vector-3-1png.png">
            </div>
        </div>
    </div>
</div> -->
<div class="d-flex-center bg-blue text-white py-6">
    <div class="w-60 row ">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-Orange f-14">BẠN CÓ NHU CẦU TƯ VẤN</p>
                    <p class=" f-26">Gọi cho chúng tôi</p>
                    <div class="d-flex" style="align-items: baseline;">
                        <div class="">
                            <p class="f-26">03 87 271 786
                            <p class="f-10">Contact 1: LE HUNG DUONG</p>
                        </div>
                        <p class="f-26 px-1">/</p>
                        <div >
                            <p class="f-26"> 0987 900 930</p>
                            <p class="f-10">Contact 2: LE VAN TRINH</p>
                        </div>
                 </div>
                </div>
                <div class="row d-flex-row ps-1">
                    <p class="address col-6">
                        Unit 1201, An-Gang Private tower 1cha, Magok Joonang-ro 165,<br>
                        Gangseo-ku, Seoul, Korea <br>
                        Postal code: 07788 <br>  
                        Email: thcgroup3@tanhay.com
                    </p>
                    <div class="col-1"></div>
                    <div class="col-4">
                        <i class="fab fa-facebook f-20 text-blue-200 p-2"></i>
                        <i class="fab fa-twitter-square f-20 text-blue-100 p-2"></i>
                        <i class="fab fa-youtube f-20 text-Orange p-2"></i>
                    </div>
                </div>
                <div class="address d-flex-row f-10 ">
                    <span class="me-3">TRANG CHỦ</span>
                    <span class="me-3">TÀI LIỆU 2D</span>
                    <span class="me-3">TÀI LIỆU 3D</span>
                    <span class="me-3">TIN TỨC</span>
                    <span class="me-3">TUYỂN DỤNG</span>
                    <span class="me-3">LIÊN HỆ</span>
                </div>
            </div>
         
        </div>
        <div class="col-6 d-flex-center">
            <img class="img-fluid" src="../../assets/img/Vector-3-1png.png" alt="">
        </div> 
    </div>
   
</div>